.mainReviewItem {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
    top: 55px;
    width: 70px;
    background: url("./img/5766014.png") no-repeat 0 aliceblue;
    background-size: 90px;
    height: 85px;
    z-index: 999;
    margin-left: 10px;
}

a:hover {
    text-decoration: none;
}

.close_window_create_review {
    display: none;
    width: 45px;
    height: 44px;
    background: url("././img/close_window.png") no-repeat 5px 5px, #FFF;
    background-size: 33px;
    margin-bottom: 20px;
    border: 2px solid bisque;
    box-shadow: 0 0 10px bisque;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 33px;
}

textarea {
    outline: none;
}

.close_window_create_review:hover {
    box-shadow: none;
}

.send_review {
    display: none;
    align-items: center;
    background: aliceblue;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
    width: max-content;
    height: 20px;
    cursor: pointer;
}

.min_height {
    margin-top: -33px;
}

.window_create_review {
    background: #FFF;
    padding: 10px;
    border: 2px solid bisque;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    display: none;
}

.label_name {
    cursor: pointer;
    width: max-content;
}

.label_review {
    cursor: pointer;
    width: max-content;
}

input {
    outline: none;
}

.window_create_review h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.inner_review {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    background: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    border: 2px solid bisque;
}

.content-review h1, .h1_content_review {
    margin: 20px;
}

.NotFoundReview {
    background: aliceblue;
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
    margin: 15px;
}

.mainReview img {
    cursor: pointer;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2,
.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after, .btn-toolbar:before,
.clearfix:after, .clearfix:before,
.container-fluid:after, .container-fluid:before,
.container:after, .container:before,
.dl-horizontal dd:after, .dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after, .modal-footer:before,
.modal-header:after, .modal-header:before,
.nav:after, .nav:before, .navbar-collapse:after,
.navbar-collapse:before, .navbar-header:after,
.navbar-header:before, .navbar:after, .navbar:before,
.pager:after, .pager:before, .panel-body:after,
.panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical > .btn-group:after,
.btn-toolbar:after, .clearfix:after,
.container-fluid:after, .container:after,
.dl-horizontal dd:after, .form-horizontal .form-group:after,
.modal-footer:after, .modal-header:after, .nav:after,
.navbar-collapse:after, .navbar-header:after,
.navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

:before {
    box-sizing: border-box;
}

div {
    display: block;
}

.cont-box {
    margin-bottom: 15px;
}

.cont-box b {
    display: block;
    font-size: 35px;
    color: pink;
    margin-left: -15px;
    text-align: right;
    font-family: inherit;
}

.miniText {
    display: block;
    font-size: 17px;
    color: #0048ff;
    opacity: 0.65;
    text-align: right;
    padding: 10px;
    margin-top: 15px;
    margin-left: 132px;
    border-radius: 10px;
}

b {
    font-weight: normal;
    font-family: 'calibri-bold';
}

body {
    font: 17px 'calibri';
    background-color: rgb(254,254,254);
    margin: 0;
}

.mainReview {
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

header {
    position: relative;
    padding-top: 10px;
}

header .social {
    margin-top: 20px;
}

.social {
    text-align: right;
    position: relative;
}

.social a {
    border: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.vk {
    width: 40px;
    background: #0078ff;
    padding: 10px;
    border: 2px solid #0078ff;
    border-radius: 50px;
    box-shadow: 0 0 10px darkcyan;
    margin-left: -33px;
}

.vk:hover {
    box-shadow: none;
}

.about_us, .contact, .our_staff, .Followers {
    margin: 10px;
}

.about_us h1, .contact h1, .our_staff h1, .Followers h1 {
    padding: 10px;
}

.call_btn a {
    padding: 10px;
    background: aliceblue;
    border: 2px solid bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    margin-left: -44px;
}

.call_btn a:hover {
    box-shadow: none;
}

.call_btn {
    margin-top: 22px;
    margin-left: 260px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.b-menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 30px;
}

.div_flex {
    display: flex;
    flex-direction: column;
}

.b-menu-item {
    position: relative;
    font-size: 19px;
    
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.summer-box {
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    color: #fff;
    position: relative;
    padding: 35px 0 20px;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.summer-box .width-wrap {
    padding: 80px 0 40px;

}

.width-wrap {
    width: 280px;
    margin: 0 auto;
    margin-left: 12.5vw;
    text-align: center;
}

.summer-box .txt-2 {
    width: 70%;
    font-size: x-large;
}

.underMain {
    width: 83%;
    height: auto;
    margin-left: 7.5vw;
    background-color: #fff;
    border-radius: 1vw;
}

.underMainText {
    font-size: x-large;
    text-align: center;
    color: black;
    padding: 1vw;
}

@keyframes bg-сhange {
    from {
        background-image: url('./img/PhotoWithHouse.png');
    }
    20% {
        background-image: url('./img/PhotoWithHouse.png');
    }
    40% {
        background-image: url('./img/PhotoWithHouse.png');
    }
    60% {
        background-image: url('./img/PhotoWithHouse.png');
    }
    80% {
        background-image: url('./img/PhotoWithHouse.png');
    }
    to {
        background-image: url('./img/PhotoWithHouse.png');
    }
}

.winter-box {
    animation: bg-сhange 20s infinite;
}

.winter-box {
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 55vw;
    position: relative;
}

.servicesImg {
    width: 90vw;
    margin-left: 5vw;
}

.TextAreaCreateReview {
    margin-top: 15px;
    background: aliceblue;
    border: 2px solid bisque;
    border-radius: 10px;
    width: 93%;
    padding: 10px;
    height: 9vh;
    resize: none;
}

.enter_name_review {
    padding: 10px;
    background: aliceblue;
    border: 2px solid bisque;
    border-radius: 10px;
    width: 93%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.error {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fb5c5c;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
    color: #FFF;
}

.success {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: bisque;
    padding: 10px;
    border: 2px solid beige;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
}

.b-menu-link {
    padding: 10px;
    background: aliceblue;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid bisque;
}

.logo img {
    width: 266px;
    margin: 5px auto auto 20px;
    position: relative;
    z-index: 999;
}

.text_about_call {
    margin-top: 0;
}

.phone_link {
    text-decoration: 2px solid blue underline;
}

.phone_link:hover {
    text-decoration: none;
}

.author_review {
    text-align: end;
    font-family: monospace;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.none {
    display: none;
}

@media (min-width: 387px) {
    .b-menu {
        margin: 60px 0 30px;
    }
}

@media (min-width: 768px) {
    .b-menu-link {
        box-shadow: 0 0 10px bisque;
    }

    .b-menu-link:hover {
        box-shadow: none;
    }

    .window_create_review {
        height: 340px;
    }

    .b-menu {
        position: sticky;
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin-top: 80px;
        margin-bottom: 30px;
        top: 0;
        flex-direction: row;
        gap: 0;
    }

    .logo img {
        width: 300px;
        margin: 7px 60px 44px;
    }

    .cont-box b {
        margin-top: -255px;
        position: relative;
        right: 55px;
    }

    .b-menu > .b-menu-item {
        margin: 20px 5px;
    }

    .vk {
        position: absolute;
        right: 50px;
        top: 0;
    }

    .call_btn a {
        margin-left: 0;
        position: absolute;
        top: 5px;
    }

    .social {
        top: 15px;
    }

    .mainReviewItem {
        margin-left: 30px;
        box-shadow: 0 0 10px bisque;
        top: 100px;
        right: 155px;
        background-size: 85px;
        height: 100%;
        width: 66px;
    }

    .mainReviewItem:hover {
        box-shadow: none;
    }

    .miniText {
        position: relative;
        right: 48px;
    }

    .block {
        display: block;
    }

    .none {
        display: none;
    }
}

@media (min-width: 1024px) {
    header .social {
        margin-top: 0;
    }

    .window_create_review {
        height: 100%;
    }

    .block {
        display: block;
    }

    .none {
        display: none;
    }
}